<div style="text-align: right">
  <br />
  <label for="" style="font-family: cursive; font-size: 14; margin-right: 10%"
    >Pontos: {{ this.pontuacao }}</label
  >
  <br /><br />
</div>

<div>
  <table style="margin: auto">
    <tr>
      <td>
        <div
          class="quadrado"
          [style]="this.estiloAzul"
          (click)="this.obterClique('azul', 1)"
        >
          <audio autoplay *ngIf="this.azulClicado">
            <source
              src="../assets/sons/store-scanner-beep-90395.mp3"
              type="audio/mpeg"
            />
          </audio>
        </div>
      </td>
      <td>
        <div
          class="quadrado"
          [style]="this.estiloRosa"
          (click)="this.obterClique('rosa', 1)"
        >
          <audio autoplay *ngIf="this.rosaClicado">
            <source src="../assets/sons/beeep-43965.mp3" type="audio/mpeg" />
          </audio>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div
          class="quadrado"
          [style]="this.estiloVerde"
          (click)="this.obterClique('verde', 1)"
        >
          <audio autoplay *ngIf="this.verdeClicado">
            <source
              src="../assets/sons/digital-beeping-151921.mp3"
              type="audio/mpeg"
            />
          </audio>
        </div>
      </td>
      <td>
        <div
          class="quadrado"
          [style]="this.estiloVermelho"
          (click)="this.obterClique('vermelho', 1)"
        >
          <audio autoplay *ngIf="this.vermelhoClicado">
            <source
              src="../assets/sons/playernocanselect-37979.mp3"
              type="audio/mpeg"
            />
          </audio>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="text-align: center">
  <br />
  <br />

  <button
    type="button"
    class="btn btn-secondary"
    style="font-family: cursive"
    (click)="this.iniciarJogo()"
  >
    iniciar
  </button>
</div>
